.about-us-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    .about-us-text{
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .text-container{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 50px;
            .title{
                font-style: normal;
                font-weight: 900;
                font-size: 40px;
                color: #EAB686;
                text-align: left;
            }
            .subtitle{
                font-style: normal;
                font-weight: 900;
                font-size: 60px;
                color: #000000;
                text-align: left;
                line-height: 40px;
            } 
            .info{
                font-style: normal;
                font-weight: 300;
                font-size: 24px;
                color: #000000;
                text-align: left;
                margin-top: 50px;
            }
        }
        .social-media{
            margin-top: 20px;
            .icon{
                padding: 10px;
                cursor: pointer;
                &:hover{
                    color: #EAB686;
                }
            }
        }
    }
    .about-us-img{
        background-image: url('../img/foto_rober.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        flex: 1;
        background-position: center;
    }
}

@media screen and (max-width: 500px) {
    .about-us-container{
        flex-direction: column;
        .about-us-text{
            padding-top: 0px;
            .text-container{
                padding: 20px;
                .title{
                    font-size: 30px;
                }
                .subtitle{
                    font-size: 40px;
                } 
                .info{
                    font-size: 18px;
                    margin-top: 20px;
                }
            }
            .social-media{
                margin-top: 0px;
            }
        }
    }
}